header {
    height: 100vh;
    width: 100vw;
    background-color: $black;

    .navbar {
        height: 147px;
        width: 100vw;
        background-color: $black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3em 15vw;
        color: $gray;
        align-items: center;

        .nav-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .nav-item {
                margin: 0 1em;

                .nav-link {  
                    color: $gray;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: $white;
                        cursor: pointer;
                    }
                }
            }
        }

    }
}