// flex conatiner side by side
@mixin flex-container($direction: row, $justify: space-between) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

// Transition
@mixin transition($property){
    transition: $property .3s ease-in-out;
}

