// colors
$black: #000000; 
$white: #FFFFFF;
$gray: #898989;
$green: #7EEC83;
$pink: #EA5573;
$purple: #5C64D7;
$theme-gradient: linear-gradient(90deg, #82EE82 0%, #29CDA0 29.77%, #7236EF 46.84%, #4B76F4 66.25%, #EB5572 86.1%);
