// colors
$black: #000000; 
$white: #FFFFFF;
$gray: #898989;
$green: #7EEC83;
$pink: #EA5573;
$purple: #5C64D7;
$theme-gradient: linear-gradient(rgba(130, 238, 130, 1),rgba(41, 205, 160, 1), rgba(114, 54, 239, 1), rgba(75, 118, 244, 1), rgba(235, 85, 114, 1));